{% extends 'base.html' %}
{% block title %}Generate Certificate{% endblock %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6">
        <!-- Display messages like form validation errors or success messages -->
        {% if messages %}
        <div class="alert alert-info">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        
        <div class="card">
            <div class="card-header">
                <h2 class="text-center">Generate Certificate</h2>
              </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mb-3">
                      <label for="id_name" class="col-sm-2 col-form-label">Name</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" name="name" maxlength="100" required="" id="id_name">
                      </div>
                    </div>
                    <div class="row mb-3">
                        <label for="id_course" class="col-sm-2 col-form-label">Course</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" name="course" maxlength="100" required="" id="id_course">
                        </div>
                      </div>
                    <div class="row mb-3">
                        <label for="id_instructor" class="col-sm-2 col-form-label">Instructor</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="instructor" maxlength="100" required="" id="id_instructor">
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Generate Certificate</button>
                    </div>
                  </form>
            </div>
            </div>
        </div> 
</div>
{% endblock %}

