{% extends 'base.html' %}
{% block title %}InstaCerty! Generate Certificates{% endblock %}
{% block content %}
<div class="row">
    {% for certificate in certificates %}
    <div class="col-sm-6">
      <div class="card m-2">
        <div class="card-body">
          <h4 class="card-title">Certificate Number : {{ certificate.certificate_number }}</h4>
          <p class="card-text">Certificate for <strong>{{ certificate.name }}</strong></p>
          <p class="card-text">Course: <strong>{{ certificate.course }}</strong></p>
          <p class="card-text">Instructor: <strong>{{ certificate.instructor }}</strong></p>
          <p class="card-text">Issued At: <strong>{{ certificate.issue_date }}</strong></p>
          <!-- Download Button -->
          <a href="{% url 'download_pdf' certificate.id %}" class="btn btn-primary">Download!</a>
          <a href="{% url 'delete_certificate' certificate.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this certificate?');">
            Delete
        </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
</body>
</html>